<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="name">
                    Movie's name
                </label>
                <input type="text" id="name" class="form-control" name="name" ngModel required>
            </div>
            <div class="form-group">
                <label for="status">
                    Movie condition
                </label>
                <select id="status" class="form-control" name="status" [ngModel]="defaultOnOff">
                    <option value="vu">Seen</option>
                    <option value="a voir">To see</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Register</button>
        </form>
    </div>
</div>